@font-face {
  font-family: "Inter";
  src: url("./App/assets/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 125 950;
  font-stretch: 100%;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafaf4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
