.buyForm {
  width: 90%;
  max-width: 500px;
  border-radius: 15px;
  border: 2px solid black;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 15px;
  font-size: 17px;
  text-align: center;
}

.buyForm:focus {
  outline: none;
}

.enticingHeader {
  font-size: 17px;
}
