$logoPadding: 30px;

.logo {
  padding-top: $logoPadding;
  padding-bottom: $logoPadding;
  width: 70%;
  max-width: 400px;
  cursor: pointer;
}

.logoContainer {
  border-bottom: 1px solid black;
  position: relative;
  width: 100%;
}

.loginProfile {
  position: absolute;
  right: 50px;
  bottom: 10px;
}
