$linkBlue :rgb(0, 0, 55);
$hoverPurple :rgb(0, 0, 0);

.container {
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  max-width: 500px;
  margin: auto; 
}

.heading {
  margin: 0 0;
  text-align: left;
  margin-left: 15px;
  transition: transform 250ms;
}

.heading:hover {
  color: $hoverPurple;
  transform: scale(1.01);
}

.subHeading {
  display: flex;
  font-size: small;
}

.subreddit {
  float: left;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-bottom: 4px;
}

.author {
  padding-left: 8px;
  float: left;
  color: $linkBlue;
  margin-top: 5px;
}

.author:hover {
  padding-left: 8px;
  float: left;
  color: $hoverPurple;
  margin-top: 5px;
  transform: scale(1.01);
}

.content {
  position: relative;
  margin: 5px, 1em;
  padding: 0.5em;
  border: 1px solid grey;
  border-radius: 10px;
}

.bodyText {
  margin: 1em 1em;
  font-size: small;
  overflow: hidden;
}

.bodyImg {
  max-width: 100%;
  max-height: 404px;
}

.upvoteImg {
  justify-content: left;
  width: 15px;
  height: 15px;
}

.upvoteCount {
  justify-content: left;
  font-size: 15px;
  margin: 0px 7px;
}

.upvote {
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 10px 15px 0px;
}

.urlLink {
  cursor: pointer;
}

.urlLink:hover {
  text-decoration: underline;
  color: $linkBlue;
}
