.container {
  padding: 15px;
  border-radius: 15px;
  border: 2px solid grey;
  max-width: 500px;
  background-color: white;
  margin: auto;
}

.heading {
  margin: 0 0;
  text-align: left;
  margin-left: 15px;
}

.subHeading {
  display: flex;
  font-size: small;
}

.subreddit {
  float: left;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-bottom: 4px;
}

.author {
  padding-left: 8px;
  float: left;
  color: grey;
  margin-top: 5px;
}

.content {
  position: relative;
  margin: 5px, 1em;
  padding: 0.5em;
  border: 2px solid grey;
  border-radius: 1em;
}

.bodyText {
  margin: 1em 1em;
  font-size: small;
  overflow: hidden;
}

.bodyImg {
  width: 100%;
}

.upvoteImg {
  justify-content: left;
  width: 15px;
  height: 15px;
}

.upvoteCount {
  justify-content: left;
  font-size: 15px;
  margin:0px 7px;
}

.upvote {
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 10px 15px 0px;
}
