.loadingStepsInactive {
  color: grey;
  text-decoration: underline;
  margin-bottom: 0px;
}

.loadingStepsActive {
  text-decoration: underline;
  color: black;
  margin-bottom: 0px;
}

.info {
    margin:0px;
    color:#444
}