.loadingStepsInactive {
  color: grey;
  text-decoration: underline;
  margin-bottom: 0px;
}

.loadingStepsActive {
  text-decoration: underline;
  color: black;
  margin-bottom: 0px;
}

.info {
    margin:0px;
    color:#444
}

.offerError {
  width:100%;
  max-width: 400px;
  color:red;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
}