.card {
  background-color: #F0F0F0;
  border-radius: 20px;
  border: 2px solid grey;
  margin: 15px;
  padding:10px;
  box-sizing: border-box;
}

.offerTo {
  max-width: 400px;
  display:inline-block;
  vertical-align: top;
}
.offerFrom {
  max-width: 400px;
  display:inline-block;
}

.offerTitle {
  width:400px;
}