.loadingStepsInactive {
  color: grey;
  text-decoration: underline;
  margin-bottom: 0px;
}

.loadingStepsActive {
  text-decoration: underline;
  color: black;
  margin-bottom: 0px;
}

.info {
  margin: 0px;
  color: #444;
}

.confirmationText {
  font-size: x-large;
  font-weight: 300;
}

.buttons {
  height: 2em;
  font-size: large;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  box-sizing: border-box;
  background-color: #fafaf4;
  border: 1px solid grey;
  border-radius: 5px;
}

.buttons:hover {
  box-shadow: 1px 1px 1px;
}
.offerError {
  width:100%;
  max-width: 400px;
  color:red;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
}