.dollarForm {
  height: 2em;
  box-sizing: border-box;
  padding: 10px;
  font-size: large;
  border-radius: 5px;
  border: 1px solid black;
}

.dollarForm:not(:focus-visible):hover {
  outline: 2px solid lightblue;
}

.offerButton {
  height: 2em;
  font-size: large;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  box-sizing: border-box;
  background-color: #fafaf4;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.offerButton:hover {
  box-shadow: 1px 1px 1px;
}
