.card {
  background-color: #dfdfdf;
  border-radius: 15px;
  border: 2px solid grey;
  box-shadow: 3px 3px 3px #DDD;
}
.header {
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: left;
}
